{% extends "DevQA/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Pulse</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info btn-sm" style="padding: 0.15rem 0.4rem; font-size: 0.75rem;"
                type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content%}