{% extends "DevQA/base.html" %}
{% block content %}

<article class="d-flex content-section">
    <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
    <div>
        <div class="article-metadata">
            <a class="me-2" href="{% url 'user-pulses' object.user.username %}">{{ object.user.username }}</a>
            <small class="text-muted">{{ object.created_at|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        {% if user.is_authenticated and user == object.user %}
        <div class="mt-2">
            <a class="btn btn-secondary btn-sm" style="padding: 0.15rem 0.4rem; font-size: 0.75rem;"
                href="{% url 'devpulse-update' object.pk %}">Update</a>

            <a class="btn btn-outline-danger btn-sm" style="padding: 0.15rem 0.4rem; font-size: 0.75rem;"
                href="{% url 'devpulse-delete' object.pk %}">Delete</a>
        </div>
        {% endif %}
    </div>
</article>
{% endblock content%}