{% extends "DevQA/base.html" %}
{% block content %}
<div class="content-section">
    <div class="d-flex align-items-center">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div>
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <a class="btn btn-secondary btn-sm" style="padding: 0.15rem 0.4rem; font-size: 0.75rem;" href="{% url 'profile_update' %}">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock content%}